function Bat.new 0
push this 1
push this 1
push this 1
push this 1
push constant 2
pop temp 0
push pointer 0
return
function Bat.dispose 0
push pointer 0
pop temp 0
push constant 0
return
function Bat.show 0
push constant 0
not
pop temp 0
pop temp 0
push constant 0
return
function Bat.hide 0
push constant 0
pop temp 0
pop temp 0
push constant 0
return
function Bat.draw 0
push this 0
push this 0
push this 0
pop temp 0
push constant 0
return
function Bat.setDirection 0
push this 1
push constant 0
return
function Bat.getLeft 0
push this 1
return
function Bat.getRight 0
push this 1
return
function Bat.setWidth 0
pop temp 0
push this 1
pop temp 0
push constant 0
return
function Bat.move 0
push constant 1
not
if-goto IF_TRUE_0
push constant 4
push constant 0
not
if-goto IF_TRUE_3
push constant 0
goto IF_END_5
label IF_TRUE_3
label IF_END_5
push constant 0
pop temp 0
push constant 1
push this 0
push constant 4
pop temp 0
push constant 0
not
pop temp 0
push this 0
push this 0
push constant 3
pop temp 0
goto IF_END_2
label IF_TRUE_0
push constant 4
push constant 511
not
if-goto IF_TRUE_6
push constant 511
push this 1
goto IF_END_8
label IF_TRUE_6
label IF_END_8
push constant 0
pop temp 0
push constant 4
push this 0
push constant 1
pop temp 0
push constant 0
not
pop temp 0
push constant 3
push this 0
push this 0
pop temp 0
label IF_END_2
push constant 0
return
