function Square.new 0
push this 1
push this 1
push this 1
pop temp 0
push this 1
return
function Square.dispose 0
push pointer 0
pop temp 0
push constant 0
return
function Square.draw 0
pop temp 0
push this 0
push this 0
push this 0
pop temp 0
push constant 0
return
function Square.erase 0
pop temp 0
push this 0
push this 0
push this 0
pop temp 0
push constant 0
return
function Square.incSize 0
not
if-goto IF_TRUE_0
pop temp 0
push this 1
pop temp 0
goto IF_END_2
label IF_TRUE_0
label IF_END_2
push constant 0
return
function Square.decSize 0
not
if-goto IF_TRUE_3
pop temp 0
push this 1
pop temp 0
goto IF_END_5
label IF_TRUE_3
label IF_END_5
push constant 0
return
function Square.moveUp 0
not
if-goto IF_TRUE_6
pop temp 0
push this 0
push this 0
push this 0
pop temp 0
push this 1
pop temp 0
push this 0
push this 0
push this 0
pop temp 0
goto IF_END_8
label IF_TRUE_6
label IF_END_8
push constant 0
return
function Square.moveDown 0
not
if-goto IF_TRUE_9
pop temp 0
push this 0
push this 0
push this 0
pop temp 0
push this 1
pop temp 0
push this 0
push this 0
push this 0
pop temp 0
goto IF_END_11
label IF_TRUE_9
label IF_END_11
push constant 0
return
function Square.moveLeft 0
not
if-goto IF_TRUE_12
pop temp 0
push this 0
push this 0
push this 0
pop temp 0
push this 1
pop temp 0
push this 0
push this 0
push this 0
pop temp 0
goto IF_END_14
label IF_TRUE_12
label IF_END_14
push constant 0
return
function Square.moveRight 0
not
if-goto IF_TRUE_15
pop temp 0
push this 0
push this 0
push this 0
pop temp 0
push this 1
pop temp 0
push this 0
push this 0
push this 0
pop temp 0
goto IF_END_17
label IF_TRUE_15
label IF_END_17
push constant 0
return
