function SquareGame.new 0
push this 0
push this 0
push this 0
return
function SquareGame.dispose 0
pop temp 0
pop temp 0
push constant 0
return
function SquareGame.moveSquare 0
not
if-goto IF_TRUE_0
pop temp 0
goto IF_END_2
label IF_TRUE_0
label IF_END_2
not
if-goto IF_TRUE_3
pop temp 0
goto IF_END_5
label IF_TRUE_3
label IF_END_5
not
if-goto IF_TRUE_6
pop temp 0
goto IF_END_8
label IF_TRUE_6
label IF_END_8
not
if-goto IF_TRUE_9
pop temp 0
goto IF_END_11
label IF_TRUE_9
label IF_END_11
pop temp 0
push constant 0
return
function SquareGame.run 2
push this 0
pop local 1
label WHILE_EXP_12
not
if-goto WHILE_END_13
label WHILE_EXP_14
not
if-goto WHILE_END_15
push this 0
pop local 0
pop temp 0
goto WHILE_EXP_14
label WHILE_END_15
not
if-goto IF_TRUE_16
push this 0
pop local 1
goto IF_END_18
label IF_TRUE_16
label IF_END_18
not
if-goto IF_TRUE_19
pop temp 0
goto IF_END_21
label IF_TRUE_19
label IF_END_21
not
if-goto IF_TRUE_22
pop temp 0
goto IF_END_24
label IF_TRUE_22
label IF_END_24
not
if-goto IF_TRUE_25
push this 0
goto IF_END_27
label IF_TRUE_25
label IF_END_27
not
if-goto IF_TRUE_28
push this 0
goto IF_END_30
label IF_TRUE_28
label IF_END_30
not
if-goto IF_TRUE_31
push this 0
goto IF_END_33
label IF_TRUE_31
label IF_END_33
not
if-goto IF_TRUE_34
push this 0
goto IF_END_36
label IF_TRUE_34
label IF_END_36
label WHILE_EXP_37
not
if-goto WHILE_END_38
push this 0
pop local 0
pop temp 0
goto WHILE_EXP_37
label WHILE_END_38
goto WHILE_EXP_12
label WHILE_END_13
push constant 0
return
